.row{
	width: 100%;
}

@media only screen and (max-width: 1310px) {
	header .row .col.m3 {
	width:23%;
	padding-left: 0px;
	padding-right: 0px;
    }

	header .row .col.m9 {
	width: 77%;
	padding-left: 0px;
	padding-right: 0px;
	padding: 0px;
	}
	.nav-grande {
	height: 130px;
	}
	.down {
	margin-top: 40px;
	}
	#icono-menu  {
	font-size: 50px;
	}
}

@media only screen and (max-width: 992px) {
	header .row .col.s12 {
	width:100%;
	padding-left: 0px;
	padding-right: 0px;
    }
    .nav-grande {
	height: 130px;
	}
	.down {
	margin-top: 40px;
	}
	#icono-menu  {
	font-size: 50px;
	}
}

@media only screen and (max-width: 395px) {
	header .row .col.s12 {
	width:100%;
	padding-left: 0px;
	padding-right: 0px;
    }
    .row .center h1 {
    	font-size: 40px;
    	margin-top: 15px;
    } 
    .nav-grande {
	height: 80px;
	}
	.down {
	margin-top: 10px;
	}
	#icono-menu  {
	font-size: 40px;
	}
}



nav {
	background-color: #11A887;
}

.no-sombra {
	box-shadow: none;
}



.fuente {
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
}




